



.modalDialog
{
 /* Make layer over all screen */
    position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
    left: 0;

/* some styling and z index and basic animation */
    font-family: Arial, Helvetica, sans-serif;
	background: rgba(0,0,0,0.8);
	z-index: 99999;
	-webkit-transition: opacity 400ms ease-in;
	-moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
    
    /* instead of display none we made the layer transparent and non clickable */
    opacity:0;
    pointer-events: none; 

    /* Make Display Flex to Perfect Center Login div*/
    display:flex;
    align-items: center;
    justify-content: center;
}


/* When Link with this ID "openModal" is Clicked  This Action Will be Applied to Element carrying This ID 
In our case the element is div   , we can style it also by using class name like modalDialog:target*/
#openModal:target {
    
    /*Allow Content Inside Div To Be Clickable */
    pointer-events: auto; 
    opacity: 1;
}

.modalDialog .login {
    width: 30%;
    height: 85%;
	position: relative;
    padding: 5px 20px 13px 20px;
    border: 1px rgba(54, 54, 54, 0.589) solid;
    background: #fff;
    display:flex;
    flex-direction: column;	
    align-items: center;
}
.modalDialog .login h2
{
    padding: 0;
    margin: 0;
    text-transform: uppercase;
    text-align: center;
    font-size: 18px;
    font-weight: 900;
}
.modalDialog .login img
{
   width: 80px;
   height: 80px;
}

.modalDialog .login input[type=email],input[type=password]
{
    padding:  5px 10px;
   display: block;
   width: 300px;
   height: 30px;
   margin-top: 40px;
   border-radius: 1px;
   border: solid 1px rgba(189, 189, 189, 0.678);
} 
.modalDialog .login .checkbox
{
    margin-top: 30px;
    width: 320px;
    height: 30px;
}
.modalDialog .login .checkbox span
{
    font-size: 12px;
    color: rgb(131, 131, 131);
    margin: 0 35px 20px 5px ;
}
.modalDialog .login .checkbox a
{
    color: rgb(131, 131, 131);
    text-decoration: none;
}


.modalDialog .login  .pp 
{
    padding-top: 10px;
    font-size: 12px;
    color: rgb(131, 131, 131);
    margin: 15px 35px 20px 5px ;
    width: 280px; 
    text-align: center;
}
.modalDialog .login  .pp  a
{
    color: rgb(32, 32, 32);   
}

.modalDialog .login .login-btn
{
    width: 320px;
    height: 40px;
    background-color: black;
    color: white;
    border-radius: 3px;
    border: none;
    font-weight: 900;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    cursor: pointer;
}




.close {
	background: #e7e7e9;
    color: #141414;
    line-height: 30px;
    
	position: absolute;
	right: 10px;
    top: 10px;
    
    width: 30px;
    height: 30px;

    text-align: center;
	text-decoration: none;
    font-weight: 600;
    font-size: 22px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;	
}


